.topicContainer {
  text-align: left;
  width: 50vw;
  margin: 0 auto;
}

.topicDetailContainer {
  display: grid;
  background-color: #36622b;
  color: #ffffff;
  border-radius: 5px;
  padding: 2vw;
}

.topicBar {
  background-color: #799351;
  padding: 1px 18px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
}

.topicContent {
  background-color: #799351;
  margin-bottom: 10px;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0 10px;
  img {
    width: 100%;
  }
}

.replybutton {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .topicContainer {
    width: 100vw;
  }
  .topicDetailContainer {
    padding: 6vw;
  }
}

@media screen and (min-width: 1200px) {
  .tripContainer {
    width: 30vw;
  }
}
