.formContainer {
  width: 400px;
  margin: 0 auto 30px auto;
}

.formItemContainer {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  input {
    font-family: "Courier New", Courier, monospace;
    width: 200px;
  }

  textarea {
    width: 202px;
    height: 70px;
  }
}

.radioButton {
  text-align: left;
  margin-right: 0;
}

.logtripBar {
  background-color: #8675a9;
  padding: 1px 18px;
  color: white;
  height: 18px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 600px) {
  .formContainer {
    width: 350px;
    padding: 0 5px;
    input {
      width: 150px;
      height: 25px;
    }
    textarea {
      width: 152px;
      height: 60px;
    }
  }
}
