.tripContainer {
  text-align: left;
  width: 50vw;
  margin: 0 auto;
}

.tripDetailContainer {
  display: grid;
  background-color: #c3aed6;
  color: #ffffff;
  border-radius: 5px;
  padding: 2vw;
}

.tripBar {
  background-color: #8675a9;
  padding: 1px 18px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
}

.tripParticipant {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tripParticipant .hiddenAboutMe {
  visibility: hidden;
  width: 120px;
  background-color: #c6e377;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tripParticipant:hover .hiddenAboutMe {
  visibility: visible;
}

.joinTripButton {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .hiddenAboutMe {
    display: block;
  }
  .tripContainer {
    width: 100vw;
  }
  .tripDetailContainer {
    padding: 6vw;
  }
}

@media screen and (min-width: 1200px) {
  .tripContainer {
    width: 30vw;
  }
}
