.replyContainer {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #729d39;
  color: #ffffff;
  align-items: center;
  padding: 2vw;
  margin: 4vh 0;

  img {
    width: 100%;
  }
}
