.replyContainer {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #729d39;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  margin: 10px 0;

  img {
    width: 100%;
  }
}

.replyContainer:after {
  content: "";
  border: 20px solid transparent;
  border-right-color: #729d39;
  border-left: 0;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -50px;
}
