@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Hind+Madurai&family=Rock+Salt&display=swap");

body {
  margin: 0;
  font-family: "Hind Madurai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Rock Salt", "Helvetica", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
